

.grid-container {
    display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(6, 1fr);
   gap: 4px;
   min-height: 100vh;
}

.sketchbox {
    background-color: white;
    display: inline-block;
    width: auto;
    height: auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 24px 0px;
}

button {
    background-color: coral;
    border: none;
    color: antiquewhite;
    padding: 8px 12px;
    border-radius: 4px;
}

button:active {
    background-color: #e9754a;
}